<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>FixelDisplay-Black.ttf</string>
		<string>FixelDisplay-Bold.ttf</string>
		<string>FixelDisplay-ExtraBold.ttf</string>
		<string>FixelDisplay-ExtraLight.ttf</string>
		<string>FixelDisplay-Light.ttf</string>
		<string>FixelDisplay-Medium.ttf</string>
		<string>FixelDisplay-Regular.ttf</string>
		<string>FixelDisplay-SemiBold.ttf</string>
		<string>FixelDisplay-Thin.ttf</string>
	</array>
</dict>
</plist>
